In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#sns.factorplot
#lmplot, pointplot

In [2]:
data_city = pd.read_csv("raw_data/city_data.csv")
data_ride = pd.read_csv("raw_data/ride_data.csv")
data = data_ride.merge(data_city, on="city",how="left")
data.head(3)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban

In [47]:
#pull data from table
groupby_city = data.groupby("city")
average_fare = groupby_city["fare"].mean()
total_rides = groupby_city["ride_id"].count()
driver_count = data_city.set_index("city")["driver_count"]
city_type = data_city.set_index("city")["type"]
summary = pd.DataFrame({"average_fare":average_fare,"total_rides":total_rides,"driver_count":driver_count,"city_type":city_type})
groupby_type = summary.groupby("city_type")
summary

                      average_fare city_type  driver_count  total_rides
Amandaburgh              24.641667     Urban            12           18
Barajasview              25.332273     Urban            26           22
Barronchester            36.422500  Suburban            11           16
Bethanyland              32.956111  Suburban            22           18
Bradshawfurt             40.064000     Rural             7           10
Brandonfort              35.437368  Suburban            10           19
Carriemouth              28.314444     Urban            52           27
Christopherfurt          24.501852     Urban            41           27
Colemanland              30.894545  Suburban            23           22
Davidfurt                31.995882  Suburban            23           17
Deanville                25.842632     Urban            49           19
East Aaronbury           25.661111  Suburban             7            9
East Danielview          31.560588  Suburban            22           17
East Kaylahaven          23.757931     Urban            65           29
East Kentstad            29.823077  Suburban            20           13
East Marymouth           30.835185  Suburban             5           27
Erikaland                24.906667     Urban            37           12
Garzaport                24.123333     Rural             7            3
Grahamburgh              25.221200     Urban            61           25
Grayville                27.763333  Suburban             2           15
Harringtonfort           33.470000     Rural             4            6
Huntermouth              28.993750     Urban            37           24
Hurleymouth              25.891429     Urban            36           28
Jerryton                 25.649200     Urban            64           25
Jessicaport              36.013333     Rural             1            6
Johnton                  26.785714     Urban            27           21
Joneschester             22.289600     Urban            39           25
Josephside               32.858148  Suburban            25           27
Justinberg               23.694333     Urban            39           30
Karenberg                26.340000     Urban            22           17
...                            ...       ...           ...          ...
South Evanton            26.726129     Urban            11           31
South Jack               22.965263     Urban            46           19
South Jennifer           35.264286     Rural             7            7
South Karenland          26.535526     Urban             4           38
South Latoya             20.093158     Urban            10           19
South Marychester        41.870000     Rural             1            8
South Michelleport       24.451613     Urban            72           31
South Phillip            28.571290     Urban            38           31
South Saramouth          36.160000     Rural             7            4
South Teresa             31.220455  Suburban            21           22
Taylorhaven              42.263333     Rural             1            6
Valentineton             24.636364     Urban            45           22
Veronicaberg             32.828235  Suburban            20           17
Victoriaport             27.780000  Suburban            16           14
West Angela              25.990000     Urban            48           39
West Anthony             24.736667     Urban            70           30
West Christopherberg     24.421154     Urban            32           26
West Ericstad            22.347222     Urban            25           18
West Gabriel             20.346087     Urban            57           23
West Hannah              29.547619  Suburban            12           21
West Heather             33.890000     Rural             4            9
West Heidi               23.133929     Urban            28           28
West Josephberg          21.720385     Urban            45           26
West Kimmouth            29.871500  Suburban             4           20
West Patrickchester      28.233125     Urban            25           16
West Robert              25.123871     Urban            39           31
West Samuelburgh         21.767600     Urban            73           25
Williamsonville          31.875000  Suburban             2           14
Williamsstad             24.362174     Urban            59           23
Williamsview             26.599000     Urban            46           20

[120 rows x 4 columns]

In [61]:
#build plot
g = sns.lmplot(x= "total_rides",
               y = "average_fare",
               data=summary,
               hue="city_type",
               size = 15,
               fit_reg=False,
               legend=False,
                   scatter_kws={'s':summary["driver_count"]*100,
                                'alpha':0.5,
                                'linewidth':2}
              )

ax = g.ax
ax.text(42,27,'Note: \nCircle size correlates with \ndriver count per city.').set_fontsize(30)
ax.legend(loc='upper right', fontsize=35, markerscale=.5, frameon=False)
ax.set_title('Pyber Ride Sharing Data (2018)').set_fontsize(40)
ax.grid(color='gray')
ax.set_xlabel('Total Number of Rides (Per City)').set_fontsize(30)
ax.set_ylabel('Average Fare ($)').set_fontsize(30)
ax.tick_params(which='major', labelsize=25)
ax.set_facecolor("lightgrey")
ax.set_facecolor('white')
g.savefig('bubble.png')

SyntaxError: invalid syntax (<ipython-input-61-d858223795ff>, line 12)